.connection-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userConnection {
    padding: 30px;
    background-color: white;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo-margin {
    margin: 20px 0px;
}

.input-margin {
    margin: 10px 0px;
}
