{% extends "@Core/Layout/DashBoardLayout.html.twig" %}
{% block title %}
    {% if title is defined %}
        <div class="title_container">
            <h4 id="#title_forms" class="well text-center">{{ title }} </h4>
        </div>
    {% endif %}
{% endblock %}
{% block mainContent %}

{% endblock %}
{% block scriptjs %}
{% endblock %}