@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway');

html{
    height:100%;
    width:100%;
    display:block;
    overflow-y: hidden; 
}
body {
    display: block;
    height:100%;
    width:100%;
    background-color: #EFEFEF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px !important;
}
main{
    display: block;
    height:100%;
    width:100%;
}
.btn{
    font-size: 16px !important;
}
 
@media (max-width: 1024px){
    body{
        font-size: 14px !important;
    }
    .btn{
    font-size: 14px !important;
    }
}
@media (max-width: 768px) and (min-width: 1024px){
    body{
        font-size: 12px !important;
    }
    .btn{
    font-size: 12px !important;
    }
}
@media (max-width: 425px) and (min-width: 768px){
    body{
        font-size: 10px !important;
    }
    .btn{
    font-size: 10px !important;
    }
}

/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #EFEFEF; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
*/