<div id="mainMenu">
    <div id="sidebar">
        <div class="sidebarShadow">
            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li>
                    <a href="#providerMenu" data-toggle="collapse" aria-expanded="false">Fournisseur</a>
                    <ul class="collapse list-unstyled" id="providerMenu">
                        <li><a href="{{ path('provider_coo_consult') }}">Consulter</a></li>
                        <li><a href="{{ path('provider_coo_consult_accepted') }}">Offre(s) acceptée(s)</a></li>
                        <li><a href="{{ path('provider_coo_consult_refused') }}">Offre(s) refusée(s)</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <span>MENU</span>
    </button>

</div>